- title "Die Abos"

.row
  .column.grid-2

- @plans.each do |plan|
  .row
    .column.grid-2
      = plan.title
      .price
        = number_to_currency(plan.price.to_f / 100, :unit => " €", :precision => 2, :separator => ",")

.row
  .column.grid-2
