.top-nav
  height: 40px
  background-color: $grey
  border-bottom: 1px solid $darkest-grey
  .centering
    margin: auto
    width: 1200px
    a
      @include font-face('Berlin Sans FB Demi','BRLNSDB')
      background-color: $ultra-light-grey
      text-align: center
      text-decoration: none
      color: $light-blue
      &:visited
        color: $light-blue
      &:hover
        color: $light-blue
    .active
      background-color: $darkest-grey
    .submenu
      height: 30px
      width: 100px
      margin-left: 10px
      margin-top: 5px
      float: left
      border: 1px solid $darkest-grey
      &:hover
        background-color: $darkest-grey
      p
        font-size: 14px
        padding-top: 4px
    .logo
      width: 290px
      height: 55px
      float: left
      border-radius: 0px 0px 3px 3px
      border-left: 1px solid $darkest-grey
      border-right: 1px solid $darkest-grey
      border-bottom: 1px solid $darkest-grey
      background-color: $ultra-light-blue
      &:hover
        background-color: $dark-grey
      p
        padding-top: 18px
        font-size: 28px

.sub-nav
  height: 30px
  background-color: $ultra-light-grey
  border-bottom: 1px solid $darkest-grey
  color: $light-blue
  .centering
    margin: auto
    width: 1200px
    padding-right: 1px
    a
      @include font-face('Berlin Sans FB Demi','BRLNSDB')
      text-align: center
      text-decoration: none
      color: $light-blue
      &:visited
        color: $light-blue
      &:hover
        color: $light-blue
    .subsubmenu
      height: 30px
      width: 100px
      margin-left: 12px
      float: right
      &:hover
        background-color: $darkest-grey
      p
        font-size: 14px
        padding-top: 4px
    .active
      background-color: $darkest-grey
      &:after 
        content: ''
        display: block
        height: 10px
        width: 15px
        background-image: url('arrow_down.jpg')
        background-size: 15px 10px
        margin-top: 6px
        margin-left: 42px
        z-index: 1

.title-nav
  height: 80px
  margin: auto
  width: 1200px
  padding-left: 50px
  padding-top: 50px
  @include font-face('Berlin Sans FB Demi','BRLNSDB')
  font-size: 40px
