.top-nav
  position: fixed
  top: 0px
  left: 0px
  right: 0px
  height: 20px
  padding: 10px
  text-align: right
  background-color: $font-2
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$font-2, endColorstr=$red)
  background-image: -moz-linear-gradient(center top, $font-2, $red)
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($font-2), to($red))
  border-bottom: 3px double $darker-grey
  z-index: 1
  a
    font-weight: bold
    font-size: 16px
    text-decoration: none
    color: $darker-grey
    &:visited
      color: $darker-grey
    &:hover
      color: white

.left-nav
  position: fixed
  top: 40px
  left: 0px
  bottom: 0px
  width: 200px
  background-color: $darker-grey
  color: $font-2
  a
    text-decoration: none  
    color: $font-2
    &:visited
      color: $font-2
  .active
    background-color: #DDDDDD
    background-image: -moz-linear-gradient(center top , #49515C, #333840)
  .button
    border-bottom: 1px solid black
    border-top: 1px solid grey
    font: 18px/16px
    padding: 9px 0
    text-align: center
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1)
    width: 200px
    &:hover
      @extend .active
      cursor: pointer
