.flash
  width: 840px
  height: 18px
  margin: 20px 50px 0px 50px
  padding: 10px
  border-radius: 5px
  text-align: center
  background-color: $light-blue
  border: 1px solid $darkest-grey
  p
    width: 820px
    float: left
  a.close
    float: left
    height: 20px
    width: 20px
    background-image: url('close.png')
    background-size: 20px 20px
    opacity: .8
    

// Default Rails Error Box
.field_with_errors
  color: $red
  display: table

#error_explanation
  width: 600px
  border: 1px solid $darkest-grey
  padding: 7px
  padding-bottom: 0
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: -7px
    margin-bottom: 0px
    background-color: #c00
    color: #fff
  ul 
    li
      font-size: 12px
      list-style: none
