body
  background-color: white
  color: #333
  font-family: helvetica, verdana, arial, sans-serif
  font-size: 14px
  line-height: 20px
  margin: 0px

.main-content-extern, .main-content-intern
  width: 960px
  min-height: 960px
  margin: auto
  margin-bottom: 20px
  padding-top: 24px
  border-left: 1px solid $light-blue
  border-right: 1px solid $light-blue
  border-bottom: 1px solid $light-blue

.content-box, .footer
  padding: 20px 50px 20px 50px

.footer
  width: 860px
  margin: auto
  .block
    width: 172px
    float: left
    li
      width: 100px
      margin-left: 36px
      background-color: $light-blue
      border-radius: 5px
      margin-top: 5px
