// Global

$darker-grey: #2F343B
$red: #703030
$lighter-grey: #7E827A
$font-1: #E3CDA4
$font-2: #C77966

// Forem

$dark-red: #882111

$light-bg1: #FFC272
$mid-bg1: #E3A348
$bar1-topbg: #eee
$bar1-midbg: #E3A348
$bar1-bottombg: #aaa
$default-text: #121212
$visited-text: #000000
$darkbg: #333
$darkbg-highlight: #222