// NAVIGATION

.top-nav
  position: fixed
  top: 0px
  left: 0px
  right: 0px
  height: 20px
  padding: 10px
  text-align: right
  background-color: #C77966
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#C77966, endColorstr=#703030)
  background-image: -moz-linear-gradient(center top, #C77966, #703030)
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C77966), to(#703030))
  border-bottom: 3px double #2F343B
  z-index: 1
  a
    font-weight: bold
    font-size: 16px
    text-decoration: none
    color: #2F343B
    &:visited
      color: #2F343B
    &:hover
      color: white


.left-nav
  position: fixed
  top: 40px
  left: 0px
  bottom: 0px
  width: 200px
  background-color: #2F343B
  color: #C77966
  a
    text-decoration: none  
    color: #C77966
    &:visited
      color: #C77966
  .active
    background-color: #DDDDDD
    background-image: -moz-linear-gradient(center top , #49515C, #333840)
  .button
    border-bottom: 1px solid black
    border-top: 1px solid grey
    font: 18px/16px
    padding: 9px 0
    text-align: center
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1)
    width: 200px
    &:hover
      @extend .active
      cursor: pointer
