%p
  Hello #{@resource.email}!
%p Jemand hat einen Link angefordert um dein Passwort zu ändern.
%p= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Falls du den Link nicht selbst angefordert hast, ignoriere bitte diese E-Mail.
%p Dein Passwort wird sich nicht ändern ohne das du den Link benutzt und ein neues Passwort anlegst.
