.left-nav
  %ul
    %li
      = link_to "Dashboard", dashboard_path(current_user)
    %li
      = link_to "Mitglieder", members_path
    %li
      more links
    %li
      more links
    %li
      more links
    %li
      more links