.left-nav
  = link_to dashboard_path(current_user) do
    %ul.button{ :class => is_active_link?("dashboard") }
      Dashboard
  = link_to members_path do    
    %ul.button{ :class => is_active_link?("members") }
      Mitglieder
