.top-nav
  - if user_signed_in?
    = link_to "Konto", main_app.account_path(current_user)
    |
    = link_to "Logout", main_app.destroy_user_session_path, :method => :delete
  - else
    = link_to "Registrieren", main_app.new_user_registration_path
    |
    = link_to "Platform Login", main_app.new_user_session_path
